@inherits LayoutComponentBase
@inject TabChangeEventService TabChangeService
@inject NavigationManager NavigationManager
@implements IDisposable
@using DsK.JWTExample.WASM.Pages
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    // This method is triggered when the location changes.
    private async void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        // Call the method you want to execute on tab change.
        await RunOnTabChangedAsync();
    }

    private async Task RunOnTabChangedAsync()
    {
        await _securityServiceClient.PrepareBearerToken();
    }

    public void Dispose() // Unsubscribe when the component is destroyed to avoid memory leaks.
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}